@charset "UTF-8";

#box{
	width: 850px;
	height: 650px;
	margin: auto;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#header{
	width: 100%;
	height: 230px;	
	text-align: center;
}

#content{
	width: 100%;
	height: 80%; 
	font-family: 'IBM Plex Sans KR', sans-serif;
	background: gray;
	text-align: center;
}

#wizard{
	width: 110px;
	height: 197px;
	margin-top: 20px;
	margin-bottom: 8px;
}

#warrior{
	width: 130px;
	height: 205px;
	margin-top: 20px;
}

#archor{
	width: 137px;
	height: 215px;
	margin-bottom: 10px;
}

#warrior_name, #wizard_name, #archor_name{
	width: 150px;	
}

#warrior_div, #wizard_div, #archor_div{
	margin-top: 40px;
	float: left;
	width: 250px;
	height: 140px;
}

#warrior_div{
	margin-left: 60px;
}

#explain{
	width: 220px;
	height: 120px;
	margin-right: 20px;
}

#explain_div_1{
	margin-top: 100px;
	margin-left: 65px;
	float: left;
}

#explain_div_2, #explain_div_3{
	margin-top: 100px;
	float: left;
	margin-left:10px; 
}

#pick_wiz{
	margin-left: 210px;
	margin-right: 210px;
	margin-bottom: 20px;
}

#footer{
	width: 100%;
	height: 80px;
	background: white;
	text-align: center;
	clear: both;
}

#copyright{
	width:100%;
	text-align:center;
	color: darkgray;
	font-family: 'IBM Plex Sans KR', sans-serif;
}
