@charset "UTF-8";

#id_msg, #pwd_msg, #cpwd_msg, #email_msg{
		margin-left: 5px;
		display: inline-block;
		width: 100%;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 5px;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	

th {
	text-align: center;
	font-family: 'IBM Plex Sans KR', sans-serif;
}