@charset "UTF-8";

#box{
	width: 850px;
	height: 650px;
	margin: auto;
	font-family: 'IBM Plex Sans KR', sans-serif;
}
#header{
	width: 100%;
	height: 230px;	
	text-align: center;
}

#content{
	width: 100%;
	height: 80%; 
	font-family: 'IBM Plex Sans KR', sans-serif;
	text-align: center;
}

#footer{
	width: 100%;
	height: 80px;
	background: white;
	text-align: center;
}

#copyright{
	width:100%;
	text-align:center;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#shop_table{
	text-align: center;
	width: 50%;
	height:100%;
	float: left;
}

table{
	width:90%;
	height:80%;
	margin-left: 30px;
	margin-top: 50px;
}

#skill_point{
	text-align: right;
}

#skill_check{
	text-align: center;
	height: 300px;
}

#skill_no{
	
	margin-left: 7px;	
	width: 30px;
	
}

#skill_left{
	margin-left: 10px;
	float: left;
	text-align: left;
}

#skill_right{
	margin-right:10px;
	float: right;
	text-align: left;
}

#btn_up{
	
	clear: both;
}

#skill{
	
	margin-right: 10px;
}

#random_items{
	width: 300px;
	height: 477px;
	text-align: center;
	float: right;
	margin-top: 10px;
	margin-right: 70px;
}

#random_back{
	width: 300px;
	height: 477px;
}

#random1{
	text-align: center;
}

#inventory{
	height: 30px;
	width: 30px;
	background-image: url("shop_back.png");
}

#clear{
	clear: both;
}

p{
	text-align: center;
	
}


